    <mat-nav-list>
      <ng-container *ngIf="($user | async)">
        <div class="profile-card" style="padding: 10px 10px 18px 10px">
          <h2>{{userEmail}}</h2>
        </div>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="toggleSidebar()" [routerLink]="['/user', 'my-cars']">
          <mat-icon>commute</mat-icon>
          <span>Мои объявления</span>
        </a>
        <a mat-list-item (click)="toggleSidebar()" [routerLink]="['/user', 'bookmarks']">
          <mat-icon>bookmark_border</mat-icon>
          <span>Закладки</span>
        </a>
        <!--<a mat-list-item>-->
          <!--<mat-icon>mail_outline</mat-icon>-->
          <!--<span>Сообщения</span>-->
        <!--</a>-->
        <!--<a mat-list-item>-->
          <!--<mat-icon>search</mat-icon>-->
          <!--<span>Сохраненные поиски</span>-->
        <!--</a>-->
        <!--<a mat-list-item>-->
          <!--<mat-icon>settings</mat-icon>-->
          <!--<span>Настройки</span>-->
        <!--</a>-->
        <a mat-list-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Выйти</span>
        </a>
      </ng-container>
      <h2 matSubheader>Страницы</h2>
      <a mat-list-item (click)="toggleSidebar()" [routerLink]="['/cars']">Автомобили</a>
      <a mat-list-item (click)="toggleSidebar()" [routerLink]="['/cars', 'add']">Подать обьявление</a>
      <a mat-list-item (click)="toggleSidebar()" [routerLink]="['/feedbacks']">Отзывы</a>
      <!--<a mat-list-item>Автоновости</a>-->
      <!--<a mat-list-item>Знания</a>-->

    </mat-nav-list>

