ul li {
  list-style: none;
}
.header-nav {
  display: flex;
  width: 100%;
  padding: 0 0 0 50px;
  &-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  &-user {
    display: flex;
    justify-content: flex-end;
  }
  & button {
    font-size: 16px;
    &:hover {
      text-decoration: underline;
    }
  }
}
