<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span> APP LOGO </span>
    <div class="header-nav-container">
      <div class="header-nav" *appBreakpointObserver="1023">
        <button mat-button routerLink="/cars">Автомобили</button>
        <button mat-button [routerLink]="['/cars', 'add']">Подать объявление</button>
        <button mat-button [routerLink]="['/feedbacks']">Отзывы</button>

      </div>
      <ul class="header-nav-user" *ngIf="$user | async; else elseBlock">
        <!--<li>-->
          <!--<button mat-icon-button>-->
            <!--<mat-icon>settings</mat-icon>-->
          <!--</button>-->
        <!--</li>-->
        <!--<li>-->
          <!--<button mat-icon-button>-->
            <!--<mat-icon>help_outline</mat-icon>-->
          <!--</button>-->
        <!--</li>-->
        <li>
          <button mat-button [matMenuTriggerFor]="logout">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #logout="matMenu">
            <button mat-menu-item (click)="onLogout()">
              <mat-icon>exit_to_app</mat-icon>
              Выйти
            </button>
          </mat-menu>
        </li>
      </ul>
      <ng-template #elseBlock>
        <ul class="header-nav-user" >
          <!--<li>-->
            <!--<button mat-button [routerLink]="['/cars', 'add']">-->
              <!--Подать объявление-->
            <!--</button>-->
          <!--</li>-->
          <li>
            <button mat-button routerLink="/login" *ngIf="!($user | async)">
              Войти
            </button>
          </li>
        </ul>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
