<mat-card>
  <mat-card-title>Вход</mat-card-title>

  <mat-card-content>
    <form #logForm="ngForm" (ngSubmit)="submit(logForm)">
      <mat-form-field appearance="outline">
        <mat-label>Введите свой email</mat-label>
        <input matInput
               placeholder="pat@example.com"
               id="log_email"
               name="log_email"
               required
               email
               ngModel>
        <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Введите пароль</mat-label>
        <input matInput
               [type]="hide ? 'password' : 'text'"
               id="log_password"
               name="log_password"
               required
               ngModel>
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              type="submit"
              >Войти</button>
    </form>



  </mat-card-content>
  <mat-card-footer><a href="#" color="primary" routerLink="/registration">Регистрация</a> для тех, кто первый раз на сайте</mat-card-footer>

</mat-card>

