<mat-card>
  <mat-card-title>Вход</mat-card-title>
  <mat-card-content>
    <form #logForm="ngForm" (ngSubmit)="submit(logForm)">
      <mat-form-field appearance="outline">
        <mat-label>Введите свой email</mat-label>
        <input matInput
               placeholder="pat@example.com"
               id="log_email"
               name="log_email"
               required
               email
               #log_email="ngModel"
               ngModel>
        <mat-error *ngIf="log_email.errors?.required"
        >Поле обязательно для заполнения</mat-error>
        <mat-error *ngIf="log_email.errors?.email"
        >Введите правильный email</mat-error>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Введите пароль</mat-label>
        <input matInput
               [type]="hide ? 'password' : 'text'"
               id="log_password"
               name="log_password"
               required
               minlength="7"
               ngModel
               #log_password="ngModel">
        <button mat-icon-button matSuffix (click)="isHide()">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="log_password.errors?.required"
        >Поле обязательно для заполнения</mat-error>
        <mat-error *ngIf="log_password.errors?.minlength"
        >Минимальная длина пароля 7 символов</mat-error>
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="logForm.invalid"
              >Войти</button>
    </form>
  </mat-card-content>
  <mat-card-footer><a href="#" color="primary" routerLink="/registration">Регистрация</a> для тех, кто первый раз на сайте</mat-card-footer>
</mat-card>

