:host {
  display: flex;
  justify-content: center;
}
.submit {
  margin-top: 10px;
}
mat-card-title {
  margin-bottom: 16px;
}
mat-form-field {
  width: 100%;
}
button[disabled="true"].mat-raised-button {
  color: #3f51b5;
}
