<mat-card>
  <mat-card-title>Регистрация</mat-card-title>
  <mat-card-content>
    <form #regForm="ngForm" (ngSubmit)="submit(regForm)">
      <!--<mat-form-field appearance="outline">-->
        <!--<mat-label>Введите свое имя</mat-label>-->
        <!--<input matInput placeholder="ИМЯ" required>-->
      <!--</mat-form-field>-->
      <mat-form-field appearance="outline">
        <mat-label>Введите свой email</mat-label>
        <input matInput
               placeholder="pat@example.com"
               id="reg_email"
               name="reg_email"
               email
               required
               ngModel>
        <mat-error>Поле обязательно для заполнения</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Введите пароль</mat-label>
        <input matInput
               [type]="hide ? 'password' : 'text'"
               id="reg_password"
               name="reg_password"
               required
               ngModel>
        <button mat-icon-button matSuffix (click)="isHide()">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Поле обязательно для заполнения</mat-error>
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="regForm.invalid">Зарегистрироваться</button>
    </form>
  </mat-card-content>
</mat-card>
