:host {
  width: 31%;
  //margin-bottom: 20px;
  @media only screen and (max-width: 1294px) {
    width: 47%;
    }
  @media only screen and (max-width: 845px) {
    width: 100%;
  }
}

mat-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  cursor: pointer;

  &-content {
    //padding: 0 0 0 25px;
    width: 100%;
  }

  &-actions {
    padding: 0;
  }
  &:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.22), 0 8px 8px rgba(0,0,0,0.22);
  }
}



.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  & h1 {
    margin: -6px 0 0 0;
  }
}

ul {
  display: flex;
  justify-content: flex-start;
  //flex-wrap: wrap;
  padding: 0;
  margin: 0;
  //width: 80%;
}
li {
  list-style: none;
  width: 20%;
  margin-right: 20px;
}
p {
  margin-bottom: 0;
  //font-weight: lighter;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
