<mat-card (click)="redirectToCar()">
  <img mat-card-image [src]="car?.img" [alt]="car.brand">
  <mat-card-content>
    <div class="card-header">
      <mat-card-title-group>
        <mat-card-title>{{car.brand}}</mat-card-title>
        <mat-card-subtitle>{{car.date | date}}</mat-card-subtitle>
      </mat-card-title-group>
      <h1>{{car.price | currency: 'USD' : 'symbol' : '1.0-0'}}</h1>
    </div>
    <div class="row">
      <ul style="margin-bottom: 10px">
        <li>
          <p>Год выпуска</p>
          <span>{{car.year}}</span>
        </li>
        <li>
          <p>Объем двигателя</p>
          <span>{{car.engineCapacity}}</span>
        </li>
        <li>
          <p>Тип двигателя</p>
          <span>{{car.engineType}}</span>
        </li>
        <li>
          <p>Коробка</p>
          <span>{{car.transmission}}</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li>
          <p>Пробег (км.)</p>
          <span>{{car.mileage}}</span>
        </li>
        <li>
          <p>Тип кузова</p>
          <span>{{car.bodyType}}</span>
        </li>
        <li>
          <p>Тип двигателя</p>
          <span>{{car.engineType}}</span>
        </li>
        <li>
          <p>Цвет</p>
          <span>{{car.color}}</span>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
