<app-header></app-header>

<mat-drawer-container>
  <mat-drawer mode="push" [opened]="getStateSidebar()">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>
    <!--<app-news-list></app-news-list>-->
    <!--<app-auth></app-auth>-->
    <!--<app-login></app-login>-->
    <!--<app-registration></app-registration>-->
    <!--<app-footer></app-footer>-->


  </mat-drawer-content>
</mat-drawer-container>
<app-errors></app-errors>
<app-loader></app-loader>

<!--<app-sidebar></app-sidebar>-->

<!--<app-news-list></app-news-list>-->
<!--<вывести 1 последнюю новость></вывести>-->
<!--<app-filter-main-page></app-filter-main-page>-->
<!--<app-brands-car-list></app-brands-car-list>-->

<!--<app-footer></app-footer>-->
