<mat-card class="container">
  <mat-card-content>
    <div class="card-header">
      <mat-card-title>Отзывы</mat-card-title>
    </div>

    <div>
      <!--<app-feedback></app-feedback>-->
      <app-feedback *ngFor="let item of feedbacksCurrent | async"
                     [feedback]="item"></app-feedback>
      <h3 *ngIf="!(feedbacksCurrent | async).length">Будьте первым кто оставит отзыв!</h3>
    </div>
    <!--отдельный компонент сделать-->
    <mat-paginator [length]="length"
                   [(pageSize)]="pageSize"
                   hidePageSize
                   (page)="pageChange($event)"
                   showFirstLastButtons>
    </mat-paginator>
    <!--<button mat-raised-button="primary" (click)="nextPage()">next</button>-->
    <!--<button mat-raised-button="primary" style="margin: 10px" (click)="add()">ADD MOCK</button>-->
    <div>
      <app-feedback-form></app-feedback-form>
    </div>


  </mat-card-content>
</mat-card>

