<!--Чтобы в appcomponent не было никаких дополнительных модулей и кода-->
<!--<app-header (toggleSidebarEvent)="sideBarToggle($event)"></app-header>-->

<!--<mat-drawer-container>-->
  <!--<mat-drawer mode="push" [opened]="sideBarOpen">-->
    <!--<app-sidebar></app-sidebar>-->
  <!--</mat-drawer>-->
  <!--<mat-drawer-content>-->

    <!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
    <!--<app-news-list></app-news-list>-->
    <!--<app-footer></app-footer>-->


  <!--</mat-drawer-content>-->
<!--</mat-drawer-container>-->
