<mat-card class="container">
  <img
    [src]="car?.img"
    [alt]="car.brand">
  <mat-card-content>
    <div class="card-header">
      <mat-card-title-group>
        <mat-card-title>{{car.brand}} {{car.model}}</mat-card-title>
        <mat-card-subtitle>{{car.date | date}}</mat-card-subtitle>
      </mat-card-title-group>
      <h1>{{car.price | currency: 'USD' : 'symbol' : '1.0-0'}}</h1>
    </div>
    <div class="row">
      <ul style="margin-bottom: 10px">
        <li>
          <span>Год выпуска</span>
          <p>{{car.year}}</p>
        </li>
        <li>
          <span>Цвет</span>
          <p>{{car.color}}</p>
        </li>
        <li>
          <span>Количество дверей</span>
          <p>{{car.amountDoors}}</p>
        </li>
        <li>
          <span>Тип кузова</span>
          <p>{{car.bodyType}}</p>
        </li>
        <li>
          <span>Привод</span>
          <p>{{car.driveType}}</p>
        </li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li>
          <span>Коробка передач</span>
          <p>{{car.transmission}}</p>
        </li>
        <li>
          <span>Комплектация</span>
          <p>{{car.bodyType}}</p>
        </li>
        <li>
          <span>Тип двигателя</span>
          <p>{{car.engineType}}</p>
        </li>
        <li>
          <span>Объем двигателя</span>
          <p>{{car.engineCapacity}}</p>
        </li>
        <li>
          <span>Состояние</span>
          <p>{{car.condition}}</p>
        </li>
        <li>
          <span>Пробег</span>
          <p>{{car.mileage}}</p>
        </li>
      </ul>
    </div>
    <div style="margin-bottom: 20px">
      <h2>Текст обьявления</h2>
      {{car.description}}
    </div>
    <div>

      <ng-container *ngIf="!access">
        <button  mat-raised-button
                (click)="onBookmarks()">{{userBookmarks > -1 ? 'Удалить из закладок' : 'В закладки'}}</button>
      </ng-container>

      <ng-container *ngIf="access">
      <button mat-raised-button
              color="primary"
              style="margin-right: 10px"
              (click)="onEdit()">Редактировать</button>
      <button mat-raised-button
              color="warn"
              (click)="onDelete()">Удалить</button>
      </ng-container>
    </div>

  </mat-card-content>
</mat-card>
