<mat-card class="container">
  <img [src]="car?.img" [alt]="car.brand">
  <mat-card-content>
    <div class="card-header">
      <mat-card-title-group>
        <mat-card-title>{{car.brand}}</mat-card-title>
        <mat-card-subtitle>{{car.date | date}}</mat-card-subtitle>
      </mat-card-title-group>
      <h1>{{car.price | currency: 'USD' : 'symbol' : '1.0-0'}}</h1>
    </div>
    <div class="row">
      <ul style="margin-bottom: 10px">
        <li>
          <p>Год выпуска</p>
          <p>{{car.year}}</p>
        </li>
        <li>
          <p>Объем двигателя</p>
          <p>{{car.engineCapacity}}</p>
        </li>
        <li>
          <p>Тип двигателя</p>
          <p>{{car.engineType}}</p>
        </li>
        <li>
          <p>Коробка</p>
          <p>{{car.transmission}}</p>
        </li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li>
          <p>Пробег (км.)</p>
          <p>{{car.mileage}}</p>
        </li>
        <li>
          <p>Тип кузова</p>
          <p>{{car.bodyType}}</p>
        </li>
        <li>
          <p>Тип двигателя</p>
          <p>{{car.engineType}}</p>
        </li>
        <li>
          <p>Цвет</p>
          <p>{{car.color}}</p>
        </li>
      </ul>
    </div>
    <div>
      <ng-container *ngIf="!access">
        <button  mat-raised-button
                (click)="onBookmarks()">{{userBookmarks > -1 ? 'Удалить из закладок' : 'В закладки'}}</button>
      </ng-container>

      <ng-container *ngIf="access">
      <button mat-raised-button
              color="primary"
              style="margin-right: 10px"
              (click)="onEdit()">Редактировать</button>
      <button mat-raised-button
              color="warn"
              (click)="onDelete()">Удалить</button>
      </ng-container>
    </div>

  </mat-card-content>
</mat-card>
