:host {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
.container-form-field {
  width: 48%;
}
mat-form-field {
  width: 100%;
}
mat-card mat-divider {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
button[disabled="true"].mat-raised-button {
  color: #3f51b5;
}
img {
  display: block;
  height: 100%;
}
