<h1>Новое объявление</h1>
<mat-card>
  <h2>Указать параметры автомобиля</h2>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container-form-field">

      <mat-form-field>
        <mat-label>Марка автомобиля</mat-label>
        <input matInput
               formControlName="brand"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
        <!--<p>{{form.controls.brand.status === 'INVALID'}}</p>-->
        <!--<mat-select>-->
          <!--<mat-option *ngFor="let car of cars" [value]="car.value">-->
            <!--{{car.viewValue}}-->
          <!--</mat-option>-->
        <!--</mat-select>-->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Модель</mat-label>
        <input matInput
               formControlName="model"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
        <!--<mat-select>-->
          <!--<mat-option *ngFor="let car of cars" [value]="car.value">-->
            <!--{{car.viewValue}}-->
          <!--</mat-option>-->
        <!--</mat-select>-->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Год выпуска</mat-label>
        <input matInput
               formControlName="year"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
        <mat-error *ngIf="form.controls.year.errors?.pattern">
          <!--Поле обязательно для заполнения-->
          Введите число
        </mat-error>
        <!--<mat-select>-->
          <!--<mat-option *ngFor="let car of cars" [value]="car.value">-->
            <!--{{car.viewValue}}-->
          <!--</mat-option>-->
        <!--</mat-select>-->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Цвет</mat-label>
        <input matInput
               formControlName="color">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Количество дверей</mat-label>
        <mat-select formControlName="amountDoors"
                    required>
          <mat-option *ngFor="let item of amountDoors" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Тип кузова</mat-label>
        <input matInput
               formControlName="bodyType"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Привод</mat-label>
        <input matInput
               formControlName="driveType"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>
    </div>

    <div class="container-form-field">

      <mat-form-field>
        <mat-label>Коробка передач</mat-label>
        <input matInput
               formControlName="transmission"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Комплектация</mat-label>
        <input matInput
               formControlName="equipment">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Тип двигателя</mat-label>
        <input matInput
               formControlName="engineType"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Объем двигателя</mat-label>
        <input matInput
               formControlName="engineCapacity"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Состояние</mat-label>
        <input matInput
               formControlName="condition">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Пробег</mat-label>
        <input matInput
               formControlName="mileage"
               type="text"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Цена</mat-label>
        <input matInput
               formControlName="price"
               type="number"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Текст объявления</mat-label>
    <textarea matInput
              formControlName="description"
              #message
              maxlength="256"
              required></textarea>
      <mat-error>
        Поле обязательно для заполнения
      </mat-error>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    <h2 class="full-width" style="margin: 16px 0">Добавить фотографии</h2>
    <p>Выберите 1 файл</p>
    <input type="file" name="file" #fileInput (change)="onFileChange($event)" />
    <img [src]="imgUrl" alt="" class="full-width" style="margin: 16px 0">

    <!--<button mat-raised-button-->
            <!--color="primary"-->
            <!--type="submit"-->
            <!--[disabled]="form.invalid">Опубликовать</button>-->
    <button mat-raised-button
            color="primary"
            type="submit"
            >Опубликовать</button>


  </form>



</mat-card>
