<h1>Новое объявление</h1>
<mat-card>
  <h2>Указать параметры автомобиля</h2>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container-form-field">

      <mat-form-field>
        <mat-label>Марка автомобиля</mat-label>
        <input matInput
               formControlName="brand"
               [matAutocomplete]="auto"
               required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Модель</mat-label>
        <input matInput
               formControlName="model"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Год выпуска</mat-label>
        <input matInput
               type="number"
               formControlName="year"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Цвет</mat-label>
        <input matInput
               formControlName="color">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Количество дверей</mat-label>
        <mat-select formControlName="amountDoors"
                    required>
          <mat-option *ngFor="let item of amountDoors" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Тип кузова</mat-label>
        <mat-select formControlName="bodyType"
                    required>
          <mat-option *ngFor="let item of bodyType" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Привод</mat-label>
        <mat-select formControlName="driveType"
                    required>
          <mat-option *ngFor="let item of driveType" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>
    </div>

    <div class="container-form-field">

      <mat-form-field>
        <mat-label>Коробка передач</mat-label>
        <mat-select formControlName="transmission"
                    required>
          <mat-option *ngFor="let item of transmission" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Комплектация</mat-label>
        <input matInput
               formControlName="equipment">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Тип двигателя</mat-label>
        <mat-select formControlName="engineType"
                    required>
          <mat-option *ngFor="let item of engineType" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Объем двигателя</mat-label>
        <input matInput
               type="number"
               formControlName="engineCapacity"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Состояние</mat-label>
        <mat-select formControlName="condition"
                    required>
          <mat-option *ngFor="let item of condition" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Пробег</mat-label>
        <input matInput
               formControlName="mileage"
               type="text"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Цена</mat-label>
        <input matInput
               formControlName="price"
               type="number"
               required>
        <mat-error>
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Текст объявления</mat-label>
    <textarea matInput
              formControlName="description"
              #message
              maxlength="256"
              required></textarea>
      <mat-error>
        Поле обязательно для заполнения
      </mat-error>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    <h2 class="full-width" style="margin: 16px 0">Добавить фотографии</h2>
    <p>Выберите 1 файл</p>
    <input type="file" name="file" #fileInput (change)="onFileChange($event)" />

    <!--<img [src]="activeCar ? activeCar.img : imgUrl" alt="" class="full-width" style="margin: 16px 0">-->

      <img [src]="imgUrl" alt="" class="full-width" style="margin: 16px 0">



    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid">Опубликовать</button>
    <!--<button mat-raised-button-->
            <!--color="primary"-->
            <!--type="submit"-->
            <!--&gt;Опубликовать</button>-->


  </form>



</mat-card>
