<ng-container *ngIf="header === 'my-cars-empty'">
  <h1>Список ваших объявлений пуст</h1>
  <button mat-raised-button="primary" (click)="redirectToCars()">Подать объявление</button>
</ng-container>
<ng-container *ngIf="header === 'my-cars-no-empty'">
  <h1>Список ваших объявлений</h1>
</ng-container>
<ng-container *ngIf="header === 'my-bookmarks-empty'">
  <h1>Вы не добавили ни одной машины в закладки</h1>
</ng-container>
<ng-container *ngIf="header === 'my-bookmarks-no-empty'">
  <h1>Список объявлений добавленных в закладки</h1>
</ng-container>
<div class="wrapper">
  <app-car-item *ngFor="let item of cars"
                [car]="item"></app-car-item>
</div>


<!--<button mat-raised-button="primary" (click)="nextCars()">NEXT</button>-->

