:host {
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  //align-items: flex-start;
  //flex-wrap: wrap;
  margin: 0 auto;
  //margin-bottom: 300px;
  max-width: 1280px;
}
button {
  margin-bottom: 300px;
}
